<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="./styleList2-14.css">
    <title><%=title %></title>
    
</head>
<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <!-- <％= 変数 ％>: ejsの独自機能。指定の変数の値が書き出される -->
        <p><%=content %></p> 
    </div>
</body>
</html>