<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>List2-17 別のページ</title>
    <link type="text/css" rel="stylesheet" href="./styleList2-14.css">
</head>
<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%=content %></p>
    </div>
</body>
</html>